nav.navbar.navbar-expand-lg.position-absolute.top-0.z-index-3.w-100.shadow-none.my-3.navbar-transparent
    .container
        li.nav-item.ms-lg-auto(style="list-style: none;")
            a.nav-link.nav-link-icon.me-2.d-flex.align-items-center(href="https://www.instagram.com/agusbobx/", target="_blank")
                i.fa.fa-instagram.me-1(aria-hidden="true")
                span.text-sm.z-index-1.font-weight-bold(data-bs-toggle="tooltip", data-bs-placement="bottom", data-bs-original-title="Follow instagram") Instagram
        li.nav-item.ms-lg-auto(style="list-style: none;")
            a.nav-link.nav-link-icon.me-2.d-flex.align-items-center(href="https://twitter.com/AgusbobX", target="_blank")
                i.fa.fa-twitter(aria-hidden="true")
                span.text-sm.z-index-1.font-weight-bold(data-bs-toggle="tooltip", data-bs-placement="bottom", data-bs-original-title="Follow Twitter") Twitter
        .collapse.navbar-collapse.w-100.pt-3.pb-2.py-lg-0.ms-lg-12.ps-lg-5#navigation
            ul.navbar-nav.navbar-nav-hover.ms-auto
                li.nav-item.ms-lg-auto.my-auto.ms-3.ms-lg-0.mt-2.mt-lg-0
                    a.btn.btn-primary.bg-gradient-primary.mb-0.me-1.mt-2.mt-md-0(href="/slots") Slots

.page-header.min-vh-80(style="background-image: url('/img/banner_header.png');")
    span.mask.bg-gradient-dark.opacity-6
    .container
        .row
            .col-md-8.mx-auto
                .text-center
                    h1.text-white(style="font-size: 6rem;") Bob Tracker
                    h4.text-white(style="font-size: larger;") Todas las estadisticas de bob en duelbits