doctype html
html(lang="en")
  head
  block head
    title Bob Tracker
    // Required meta tags
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    // Fonts and icons
    link(rel="shortcut icon", href="/img/logo.png", type="image/x-icon")
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css")
    <!-- Meta Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '344323084800897');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=344323084800897&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
    // Material Icons
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons+Round", rel="stylesheet")
    // Material Kit CSS
    link(href="/assets/css/material-kit.css?v=3.0.0", rel="stylesheet")
    //- Google tag (gtag.js)
    script(src="https://www.googletagmanager.com/gtag/js?id=G-PSJQREJP7W" async)
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-PSJQREJP7W');


  body(style="background-color: #181b1d;")
    // HEADER
    include _header

    // CONTENT
    block content
      h1 This is a placeholder heading

    // FOOTER
    footer.footer.pt-5(style='border-top: 2px solid #fff;')
    .container
      .row
        p.text-center.font-weight-bold.text-secondary.text-white(style="font-size: 1.2rem;") Mira Agusbob en 
          a(href="" style="text-decoration: underline;color: #fff;") Kick!
      p.text-center.font-weight-bold.text-secondary.text-white Dev by Ponti
